<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Landing Page</title>
</head>
<body>

	<div class="header-container2">
		<img src="/images/beaker2.gif" class="beaker-gif">
		<h1 class="dashboard-header">Welcome to ChemQuest!</h1>
		<img src="/images/beaker2.gif" class="beaker-gif">
	</div>
	
	<div class= "row">
		<a href="/signin" class="signing-btn">Sign In</a>
		<a href="/signup" class="signing-btn">Sign Up</a>		
	</div>

</body>
</html>